.bg{
	background: url(../images/bg.jpg);
background-position: center;;
background-size: cover;
background-repeat: no-repeat;
padding:200px 0px;

}
.text_l{
	font-weight: 400;
	color: #fff;
	font-size:  62px
}
.text_p{
	font-weight: 400;
	color: #fff;
}
.padd{
	padding: 50px 0px;
}